.heading {
	margin: 4rem 2em 4em;
}

.blog-heading {
	width: 100%;
	font-size: var(--ms8);

	text-align: left;
	font-weight: 900;
}

@media (max-width: 576px) {
	.blog-heading {
		font-size: var(--ms7);
	}
}

.blog-detail {
	padding-top: 4rem;
	padding-left: 0.5rem;
}

.blog-title {
	font-size: var(--ms2);
	padding-bottom: 0.5rem;
}

.blog-date {
	padding-bottom: 1rem;
}

.blog-content {
	padding-bottom: 4rem;
}
