.projects-title {
	display: flex;
	flex-direction: row;
}

@media (max-width: 768px) {
	.projects-title {
		flex-direction: column;
	}
	.projects-title > h1 {
		padding-bottom: 0;
		font-size: var(--ms3);
	}
}

.projects-title > h1 {
	padding-right: 3rem;
}

.projects-description {
	margin-top: 5rem;
	display: none;
	height: 10rem;
	font-size: 1.1rem;
	line-height: 1.4;
}

@media (max-width: 1024px) {
	.projects {
		margin-top: 5rem;
	}

	.projects-description {
		margin-top: 3rem;
		font-size: var(--ms-1);
	}

	.column {
		flex-wrap: nowrap;
	}
}
